{% extends 'layout.html' %}

{% block body %}
<h1>What Is This ???</h1>
<p style="text-align: left;">
	Hello World,

    <br>
    This site you are on is just a song guesser game that I created in which you have to hear the intro of a song and guess its name. As of now, we use Malayalam songs.
    <br>
    <br>
    A year before all this, I was learning python from YouTube tutorials (Got to tell you guys, Sentdex and Traversy Media are two gems on the platform) and I was starting to wonder what is the point of watching and learning all this and not applying it. This really triggered me and I was in search of an idea. After watching the movie The Social Network, I was too much motivated to make a new Facebook, not a new Facebook account mind you but a new social networking website. But then I realised it was way too soon for me to take that leap and so I was back to square one.
    <br>
    <br>
    I used to play these 'guess the song' games with my family. I mean come on who hasn't at least once in their life tried to guess the name of a song before the human voice part comes in. So I thought, yeah that's it, I am going to make a web app that lets people guess the song names. I went on to the internet first to check whether anything of that sort was already there, to my dismay I found <a href="//binb.co">binb.com</a> and even though it had some next level features like a timed-scoring system, real-time multiplayer battles, nicer UI it still lacked Malayalam songs. I searched for more similar websites and the closest someone came in similarity was this <a href="//www.s-anand.net/blog/tamil-songs-quiz-enchanting-first-interludes/">Tamil Songs Quiz – Enchanting First Interludes</a> but fortunately, this was full of Tamil songs. Phew... that was close.
    <br>
    <br>
    So with a bit of help from YouTube(Traversy Media and Sentdex to be precise) and lots of help from StackOverflow (I am not gonna lie), I finally made one functional website that lacks database, javascript and a proper domain name nevertheless it works and now everyone can access it from anywhere, thanks to the pythonanywhere team for providing such a promising platform for beginners like me. They really deserve an appreciation.
    <br>
    <br>
    But when the website was finished, the hard part was not making the site but downloading songs from the internet and then cropping it to make them suit for the game (I know its totally illegal to use someone's creation without their permission so I kindly ask those concerned to read <a href="/static/disclaimer_song.txt">this</a> and <a href="/static/disclaimer_sticker.txt">this</a>). And as of writing this page(27/01/2019), I have 25 songs running in the game. And yeah one more thing I know my website doesn't stand a chance against Shazam. Duh. So I kindly ask you to not use this here and ruin the feel.
    <br>
    <br>
    I really really wanted to monetize this website but unfortunately for me (fortunately for you), I can't. It's all due to the Google AdSense policy that they won't serve ads on subdomains unless I use a proper domain.
    <br>
    <br>
    For more technical details on how I built this site click <a href="" title="Not yet created.">here</a>
</p>
{% endblock %}