<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>ZeroSong</title>
		<link rel="icon" href="static/favicon.png">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	</head>

	<body>
		<div style="background-color: #ff5252; height: 100vh; padding: 0.5%;">
			<div style="background-color: #e040fb; height: 98vh; padding: 0.5%;">
				<div style="background-color: #7c4dff; height: 96vh; padding: 0.5%;">
					<div style="background-color: #536dfe; height: 94vh; padding: 0.5%;">
						<div style="background-color: #448aff; height: 92vh; padding: 0.5%;">
							<div style="background-color: #64ffda; height: 90vh; padding: 0.5%;">
								<div style="background-color: #69f0ae; height: 88vh; padding: 0.5%;">
									<div style="background-color: #b2ff59; height: 86vh; padding: 0.5%;">
										<div style="background-color: #eeff41; height: 84vh; padding: 0.5%;">
											<div style="background-color: #ffff00; height: 82vh; padding: 0.5%;">
												<div style="background-color: #ffd740; height: 80vh; padding: 0.5%;">
													<div style="background-color: #ffab40; height: 78vh; padding: 0.5%;">
														<div style="background-color: #FFFFFF; height: 76vh; padding: 0.5%;">
															{% include 'includes/_messages.html' %}
															{% block body %}{% endblock %}
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>